<script>
    function changePage(page) {
        let urlParams = new URLSearchParams(window.location.search);
        urlParams.set("page", page);
        window.location.href = "/categories?" + urlParams.toString();
    }

    function changePageSize(event) {
        let selectedValue = event.target.value;
        let urlParams = new URLSearchParams(window.location.search);
        urlParams.set("page", "1"); // Reset về trang đầu tiên
        urlParams.set("pageSize", selectedValue);
        window.location.href = "/categories?" + urlParams.toString();
    }

    function setPageSize() {
        let urlParams = new URLSearchParams(window.location.search);
        const pageSize = urlParams.get("pageSize");
        if (pageSize) {
            let option = document.querySelector(`#defaultSelect option[value='${pageSize}']`);
            if (option) option.selected = true;
        }
    }
    document.addEventListener("DOMContentLoaded", setPageSize);

    function nextPage() {
        let urlParams = new URLSearchParams(window.location.search);
        const maxPage = parseInt("<%= countPagination %>", 10);
        let page = parseInt(urlParams.get("page") || "1", 10);
        if (page < maxPage) {
            urlParams.set("page", page + 1);
            window.location.href = "/categories?" + urlParams.toString();
        }
    }

    function prevPage() {
        let urlParams = new URLSearchParams(window.location.search);
        let page = parseInt(urlParams.get("page") || "1", 10);
        if (page > 1) {
            urlParams.set("page", page - 1);
            window.location.href = "/categories?" + urlParams.toString();
        }
    }

    function changeSort(event) {
        event.preventDefault();
        let urlParams = new URLSearchParams(window.location.search);
        urlParams.set("sort", event.target.value);
        window.location.href = "/categories?" + urlParams.toString();
    }

    async function createCategory() {
        const codeModal = $("#codeModal").val().trim();
        const nameModal = $("#nameModal").val().trim();
        const searchStringModal = $("#searchStringModal").val().trim();
        const imageModal = $("#imageModal").val().trim();
        const url = 'http://localhost:5001/categories/createByModal';

        if (!codeModal || !nameModal || !searchStringModal || !imageModal) {
            showNotify("Vui lòng nhập đầy đủ thông tin!", 'error', 'withicon');
            return;
        }

        try {
            let response = await $.post(url, {
                code: encodeURIComponent(codeModal),
                name: encodeURIComponent(nameModal),
                searchString: encodeURIComponent(searchStringModal),
                image: encodeURIComponent(imageModal),
            });

            if (response.success) {
                $("#listCategory").prepend(`
                    <tr>
                        <td></td>
                        <td>
                            <img src="/static/assets/img/${response.category.image}" alt="image"
                                style="width: 100px; height: auto; object-fit: cover; border: 1px solid #ccc;">
                        </td>
                        <td>${response.category.code}</td>
                        <td>${response.category.name}</td>
                        <td>
                            <a href="/categories/update/${response.category._id}" class="btn btn-success btn-sm">Sửa</a>
                            <a href="/categories/delete/${response.category._id}" class="btn btn-danger btn-sm">Xóa</a>
                        </td>
                    </tr>
                `);
                showNotify(`Loại sản phẩm ${response.category.name} đã được thêm thành công!`, 'success', 'withicon');
            }
        } catch (error) {
            console.error("Lỗi khi tạo danh mục: ", error);
            showNotify("Lỗi khi tạo danh mục, vui lòng thử lại!", 'error', 'withicon');
        }
    }

    function toggleCategory() {
        const modalCategory = $("#modalCategory");
        if (modalCategory.hasClass("show")) {
            modalCategory.removeClass("show").css({ "display": "", "background-color": "" });
        } else {
            modalCategory.addClass("show").css({ "display": "block", "background-color": "#0000009b" });
        }
    }
</script>