<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Tạo loại sản phẩm mới</h4>
        <div class="card">
            <div class="card-body">
                <form action="/categories/create" method="post">
                    <div class="form-group">
                        <label for="code">Nhập mã sản phẩm</label>
                        <input name="code" type="text" class="form-control" id="code" placeholder="Nhập mã">
                        <!-- <small id="emailHelp" class="form-text text-muted">Vui lòng nhập mã sản phẩm</small> -->
                    </div>
                    <div class="form-group">
                        <label for="name">Nhập tên sản phẩm</label>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Nhập tên sản phẩm">
                        <!-- <small id="emailHelp" class="form-text text-muted">Vui lòng nhập tên sản phẩm</small> -->
                    </div>
                    <div class="form-group">
                        <label for="image">Link hình ảnh sản phẩm</label>
                        <input name="image" type="text" class="form-control" id="image"
                            placeholder="Nhập link ảnh sản phẩm">
                        <!-- <small id="emailHelp" class="form-text text-muted">Vui lòng nhập link sản phẩm</small> -->
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success" type="submit">Tạo</button>
                        <a href="/categories" class="btn btn-primary">Trở về trang chủ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>